@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/skin_/form.css" />
    <link href="umeditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/global.js"></script>
    <script type="text/javascript" src="~/js/jquery.select.js"></script>
    <script type="text/javascript" src="~/js/WdatePicker.js"></script>
    <script type="text/javascript">
        window.UMEDITOR_HOME_URL = 'umeditor/';  // 请换成绝对路径
    </script>
    <script type="text/javascript" src="~/js/umeditor.config.js"></script>
    <script type="text/javascript" src="~/js/editor_api.js"></script>
    <script type="text/javascript" src="~/umeditor/lang/zh-cn/zh-cn.js"></script>
    <title>添加管理员</title>
</head>

<body>
    <div id="container">
        <div id="hd">
        </div>
        <div id="bd">
            <form id="form1" action="Dir_CountGrade" method="post">
                <div id="main">
                    <h2 class="subfild">
                        <span>成绩计算</span>
                    </h2>
                    <div class="subfild-content base-info">
                        <div class="kv-item ue-clear">
                            <label><span class="impInfo">*</span>质量追踪得分</label>
                            <div class="kv-item-content">
                                <input type="text" name="QualityControlGrade" />
                            </div>
                            <span class="kv-item-tip error">[请输入权重]</span>
                        </div>
                        <div class="kv-item ue-clear time">
                            <label><span class="impInfo">*</span>软件验收得分</label>
                            <div class="kv-item-content">
                                <input type="text" name="SoftwareGrade" />
                            </div>
                            <span class="kv-item-tip error">[请输入权重]</span>
                        </div>
                        <div class="kv-item ue-clear time">
                            <label><span class="impInfo">*</span>答辩评分</label>
                            <div class="kv-item-content">
                                <input type="text" name="DefenseScore" />
                            </div>
                            <span class="kv-item-tip error">[请输入权重]</span>
                        </div>
                    </div>
                    <div class="kv-item ue-clear">
                        <span class="kv-item-tip error">@ViewData["error"]</span>
                    </div>
                    <div class="buttons">
                        <input class="button" type="submit" value="计算" />
                    </div>
                </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $('select').select();
    showRemind('input[type=text],textarea', 'color5');
    UM.getEditor('content');
</script>
</html>


