
@{
    ViewBag.Title = "Prof_DoTopicInsert";
}
<form name="buy" action="Prof_TopicInsertPage" method="post">
    <input class="button" type="submit" name="all" value="返回" />
</form>
<br />
<h2>输入有误或者选题编号已存在</h2>
